<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New Item List
        <small>Create a new Item List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'itemList'}}}">List</a></li>
        <li class="active">New Item List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'itemList.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Item List Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemListID]" value="{{ obj.ItemListID}}" placeholder="ItemListID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemName]" value="{{ obj.ItemName}}" placeholder="ItemName" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemDescription]" value="{{ obj.ItemDescription}}" placeholder="ItemDescription" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemPrice]" value="{{ obj.ItemPrice}}" placeholder="ItemPrice" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemSellPrice]" value="{{ obj.ItemSellPrice}}" placeholder="ItemSellPrice" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemCategory1]" value="{{ obj.ItemCategory1}}" placeholder="ItemCategory1"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemCategory2]" value="{{ obj.ItemCategory2}}" placeholder="ItemCategory2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="itemList[ItemCategory3]" value="{{ obj.ItemCategory3}}" placeholder="ItemCategory3"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol1]" placeholder="sCol1">{{ obj.sCol1}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol2]" placeholder="sCol2">{{ obj.sCol2}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol3]" placeholder="sCol3">{{ obj.sCol3}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol4]" placeholder="sCol4">{{ obj.sCol4}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol5]" placeholder="sCol5">{{ obj.sCol5}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol6]" placeholder="sCol6">{{ obj.sCol6}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol7]" placeholder="sCol7">{{ obj.sCol7}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol8]" placeholder="sCol8">{{ obj.sCol8}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol9]" placeholder="sCol9">{{ obj.sCol9}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="itemList[sCol10]" placeholder="sCol10">{{ obj.sCol10}}</textarea>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="radio" name="itemList[HideYN]" class="minimal" value="Y"
                                {{#isYes obj.HideYN}} {{/isYes}}
                            > Hide Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="itemList[HideYN]" class="minimal" value="N"
                                {{#isNo obj.HideYN}} {{/isNo}}
                            > Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="itemList[DeleteYN]" class="minimal" value="Y"
                                {{#isYes obj.DeleteYN}} {{/isYes}}
                            > Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="itemList[DeleteYN]" class="minimal" value="N"
                                {{#isNo obj.DeleteYN}} {{/isNo}}
                            > Delete No
                        </label>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "itemList"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
