<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New Member Game Info
        <small>Create a Member Item Purchase</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'memberItemPurchase'}}}">List</a></li>
        <li class="active">New Member Item Purchase</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'memberItemPurchase.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ID Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[MemberItemPurchaseID]" value="{{ obj.MemberItemPurchaseID}}" placeholder="MemberItemPurchaseID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[MemberID]" value="{{ obj.MemberID}}" placeholder="MemberID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[ItemListID]" value="{{ obj.ItemListID}}" placeholder="ItemListID" readonly/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Basic Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchasePrice]" value="{{ obj.PurchasePrice}}" placeholder="PurchasePrice" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseQuantity]" value="{{ obj.PurchaseQuantity}}" placeholder="PurchaseQuantity" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGinfo1]" value="{{ obj.PGinfo1}}" placeholder="PGinfo1"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGinfo2]" value="{{ obj.PGinfo2}}" placeholder="PGinfo2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGinfo3]" value="{{ obj.PGinfo3}}" placeholder="PGinfo3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGinfo4]" value="{{ obj.PGinfo4}}" placeholder="PGinfo4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PGinfo5]" value="{{ obj.PGinfo5}}" placeholder="PGinfo5"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Purchase & Cancel Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDeviceID]" value="{{ obj.PurchaseDeviceID}}" placeholder="PurchaseDeviceID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDeviceIPAddress]" value="{{ obj.PurchaseDeviceIPAddress}}" placeholder="PurchaseDeviceIPAddress" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDeviceMACAddress]" value="{{ obj.PurchaseDeviceMACAddress}}" placeholder="PurchaseDeviceMACAddress" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseDT]" value="{{ obj.PurchaseDT}}" placeholder="PurchaseDT" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelYN]" value="{{ obj.PurchaseCancelYN}}" placeholder="PurchaseCancelYN"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDT]" value="{{ obj.PurchaseCancelDT}}" placeholder="PurchaseCancelDT"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelingStatus]" value="{{ obj.PurchaseCancelingStatus}}" placeholder="PurchaseCancelingStatus"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelReturnedAmount]" value="{{ obj.PurchaseCancelReturnedAmount}}" placeholder="PurchaseCancelReturnedAmount"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceID]" value="{{ obj.PurchaseCancelDeviceID}}" placeholder="PurchaseCancelDeviceID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceIPAddress]" value="{{ obj.PurchaseCancelDeviceIPAddress}}" placeholder="PurchaseCancelDeviceIPAddress" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="purchase[PurchaseCancelDeviceMACAddress]" value="{{ obj.PurchaseCancelDeviceMACAddress}}" placeholder="PurchaseCancelDeviceMACAddress" readonly/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol1]" placeholder="sCol1" >{{ obj.sCol1}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol2]" placeholder="sCol2" >{{ obj.sCol2}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol3]" placeholder="sCol3" >{{ obj.sCol3}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol4]" placeholder="sCol4" >{{ obj.sCol4}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol5]" placeholder="sCol5" >{{ obj.sCol5}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol6]" placeholder="sCol6" >{{ obj.sCol6}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol7]" placeholder="sCol7" >{{ obj.sCol7}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol8]" placeholder="sCol8" >{{ obj.sCol8}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol9]" placeholder="sCol9" >{{ obj.sCol9}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="purchase[sCol10]" placeholder="sCol10" >{{ obj.sCol10}}</textarea>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="radio" name="purchase[HideYN]" class="minimal" value="Y"
                                {{#isYes obj.HideYN}} {{/isYes}}
                            > Hide Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="purchase[HideYN]" class="minimal" value="N"
                                {{#isNo obj.HideYN}} {{/isNo}}
                            > Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="purchase[DeleteYN]" class="minimal" value="Y"
                                {{#isYes obj.DeleteYN}} {{/isYes}}
                            > Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="purchase[DeleteYN]" class="minimal" value="N"
                                {{#isNo obj.DeleteYN}} {{/isNo}}
                            > Delete No
                        </label>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "memberItemPurchase"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
