<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Edit Coupon
        <small>Edit  Coupon</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'coupon'}}}">List</a></li>
        <li class="active">Edit Coupon</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'coupon.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Coupon Basic Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[CouponID]" value="{{ obj.CouponID}}" placeholder="Coupon ID"
                               readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[CouponCategory1]" value="{{ obj.CouponCategory1}}" placeholder="Category 1"/>
                        <input type="text" class="form-control" name="coupon[CouponCategory2]" value="{{ obj.CouponCategory2}}" placeholder="Category 2"/>
                        <input type="text" class="form-control" name="coupon[CouponCategory3]" value="{{ obj.CouponCategory3}}" placeholder="Category 3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[ItemListID]" value="{{ obj.ItemListID}}" placeholder="ItemListID"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[ItemCount]" value="{{ obj.ItemCount}}" placeholder="ItemCount"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[ItemStatus]" value="{{ obj.ItemStatus}}" placeholder="ItemStatus"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[TargetGroup]" value="{{ obj.TargetGroup}}" placeholder="TargetGroup"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[TargetOS]" value="{{ obj.TargetOS}}" placeholder="TargetOS"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[TargetDevice]" value="{{ obj.TargetDevice}}" placeholder="TargetDevice"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[Title]" value="{{ obj.Title}}" placeholder="Title1" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="coupon[Content]" placeholder="Content">{{ obj.Content}}</textarea>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol1]" value="{{ obj.sCol1}}" placeholder="sCol1" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol2]" value="{{ obj.sCol2}}" placeholder="sCol2" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol3]" value="{{ obj.sCol3}}" placeholder="sCol3" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol4]" value="{{ obj.sCol4}}" placeholder="sCol4" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol5]" value="{{ obj.sCol5}}" placeholder="sCol5" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol6]" value="{{ obj.sCol6}}" placeholder="sCol6" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol7]" value="{{ obj.sCol7}}" placeholder="sCol7" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol8]" value="{{ obj.sCol8}}" placeholder="sCol8" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol9]" value="{{ obj.sCol9}}" placeholder="sCol9" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[sCol10]" value="{{ obj.sCol10}}" placeholder="sCol10" />
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Coupon Time Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control datetimepicker" name="coupon[CouponDurationFrom]" value="{{ formatTimeDate obj.CouponDurationFrom}}" placeholder="CouponDurationFrom" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control datetimepicker" name="coupon[CouponDurationTo]" value="{{ formatTimeDate obj.CouponDurationTo}}" placeholder="CouponDurationTo" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="coupon[OrderNumber]" value="{{ obj.OrderNumber}}" placeholder="OrderNumber" required/>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="coupon[DupeYN]" class="minimal" value="Y"
                                {{#isYes obj.DupeYN}} {{/isYes}}
                            > Dupe Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="coupon[DupeYN]" class="minimal" value="N"
                                {{#isNo obj.DupeYN}} {{/isNo}}
                            > Dupe No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="coupon[HideYN]" class="minimal" value="Y"
                                {{#isYes obj.HideYN}} {{/isYes}}
                            > Hide Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="coupon[HideYN]" class="minimal" value="N"
                                {{#isNo obj.HideYN}} {{/isNo}}
                            > Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="coupon[DeleteYN]" class="minimal" value="Y"
                                {{#isYes obj.DeleteYN}} {{/isYes}}
                            > Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="coupon[DeleteYN]" class="minimal" value="N"
                                {{#isNo obj.DeleteYN}} {{/isNo}}
                            > Delete No
                        </label>
                    </div>                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "coupon"}}}'">
                        Cancel
                    </button>
                    <button type="button" class="btn pull-right btn-warning" onclick="location.href = '{{url "coupon"  }}/delete/{{obj.CouponID}}'">
                        Delete
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
