<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Edit Member
        <small>Edit Member </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'member'}}}">List</a></li>
        <li class="active">New Member</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'member.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Credentials</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[MemberID]" placeholder="Member ID" value="{{ obj.MemberID}}"
                               readonly/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Email</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" name="member[EmailAddress]" placeholder="Email" value="{{ obj.EmailAddress}}" required/>
                        <input type="hidden" name="member[EmailConfirmedYN]" value="{{ obj.EmailConfirmedYN}}"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Privates</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="member[PhoneNumber1]" placeholder="PhoneNumber1" required value="{{ obj.PhoneNumber1}}"/>
                        <input type="tel" class="form-control" name="member[PhoneNumber2]" placeholder="PhoneNumber2" required value="{{ obj.PhoneNumber2}}"/>
                        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="member[PINumber]" placeholder="PINumber" value="{{ obj.PINumber}}"/>
                        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[Name1]" placeholder="Name1" value="{{ obj.Name1}}"/>
                        <input type="text" class="form-control" name="member[Name2]" placeholder="Name2" value="{{ obj.Name2}}"/>
                        <input type="text" class="form-control" name="member[Name3]" placeholder="Name3" value="{{ obj.Name3}}"/>
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="member[RecommenderID]" placeholder="RecommenderID" value="{{ obj.RecommenderID}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[MemberGroup]" placeholder="MemberGroup" value="{{ obj.MemberGroup}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="member[DOB]" placeholder="Date of Birth" value="{{ obj.DOB}}"/>
                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Block</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[AccountBlockEndDT]" placeholder="AccountBlockEndDT" value="{{ obj.AccountBlockEndDT}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[AccountBlockYN]" placeholder="AccountBlockYN" value="{{ obj.AccountBlockYN}}"/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">3rd Party Authentication</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[thirdAuthProvider]" placeholder="thirdAuthProvider" value="{{ obj.3rdAuthProvider}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[thirdAuthID]" placeholder="thirdAuthID" value="{{ obj.3rdAuthID}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[thirdAuthParam]" placeholder="thirdAuthParam" value="{{ obj.3rdAuthParam}}"/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Push Notification </h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[PushNotificationID]" placeholder="PushNotificationID" value="{{ obj.PushNotificationID}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[PushNotificationProvider]" placeholder="PushNotificationProvider" value="{{ obj.PushNotificationProvider}}"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="member[PushNotificationGroup]" placeholder="PushNotificationGroup" value="{{ obj.PushNotificationGroup}}"/>
                    </div>
                </div>
            </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Extra Data</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol1]" placeholder="sCol1">{{ obj.sCol1}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol2]" placeholder="sCol2">{{ obj.sCol2}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol3]" placeholder="sCol3">{{ obj.sCol3}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol4]" placeholder="sCol4">{{ obj.sCol4}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol5]" placeholder="sCol5">{{ obj.sCol5}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol6]" placeholder="sCol6">{{ obj.sCol6}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol7]" placeholder="sCol7">{{ obj.sCol7}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol8]" placeholder="sCol8">{{ obj.sCol8}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol9]" placeholder="sCol9">{{ obj.sCol9}}</textarea>
                        </div>
                        <div class="form-group has-feedback">
                            <textarea class="form-control" name="member[sCol10]" placeholder="sCol10">{{ obj.sCol1}}</textarea>
                        </div>
                </div>
            </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">DateTime</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="member[TimeZoneID]" placeholder="TimeZoneID"  value="{{ obj.TimeZoneID}}" required/>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="radio" name="member[HideYN]" class="minimal" value="Y"
                                {{#isYes obj.HideYN}} {{/isYes}}
                                > Hide Yes
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" name="member[HideYN]" class="minimal" value="N"
                                {{#isNo obj.HideYN}} {{/isNo}}
                                > Hide No
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="radio" name="member[DeleteYN]" class="minimal" value="Y"
                                    {{#isYes obj.DeleteYN}} {{/isYes}}
                                > Delete  Yes
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" name="member[DeleteYN]" class="minimal" value="N"
                                    {{#isNo obj.DeleteYN}} {{/isNo}}
                                > Delete No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "member"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
