<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        New AdminMember
        <small>Create a new AdminMember</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'adminMember'}}}">List</a></li>
        <li class="active">New AdminMember</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'adminMember.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Credentials</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="adminMember[AdminMemberID]" placeholder="AdminMember ID" value="{{obj.AdminMemberID}}"
                               readonly/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Email</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" name="adminMember[AdminEmailAddress]" placeholder="Email" value="{{ obj.AdminMemberEmail }}" required/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label>
                            <input type="radio" name="adminMember[AdminGroup]" class="minimal" value="Admin"
                                {{#isAdmin obj.AdminGroup}} {{/isAdmin}}
                            > Admin
                        </label>
                        <label>
                            <input type="radio" name="adminMember[AdminGroup]" class="minimal" value="Operator"
                                {{#isOperator obj.AdminGroup}} {{/isOperator}}
                            > Operator
                        </label>
                        <label>
                            <input type="radio" name="adminMember[AdminGroup]" class="minimal" value="Reader"
                                {{#isReader obj.AdminGroup}} {{/isReader}}
                            > Reader
                        </label>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Privates</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="adminMember[IDCreateAdminMember]" placeholder="IDCreateAdminMember" value="{{ obj.IDCreateAdminMember}}" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="adminMember[Name1]" placeholder="Name1" value="{{ obj.Name1}}" />
                        <input type="text" class="form-control" name="adminMember[Name2]" placeholder="Name2" value="{{ obj.Name2}}" />
                        <input type="text" class="form-control" name="adminMember[Name3]" placeholder="Name3" value="{{ obj.Name3}}" />
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="tel" class="form-control" name="adminMember[DOB]" placeholder="Date of Birth" value="{{ obj.DOB}}"/>
                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="adminMember[TimeZoneID]" placeholder="TimeZoneID" value="{{ obj.TimeZoneID}}" />
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="adminMember[PINumber]" placeholder="PINumber" value="{{ obj.PINumber}}" />
                    </div>
                    <div class="form-group has-feedback">
                </div>
            </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Extra Data</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol1]" placeholder="sCol1" value="{{ obj.sCol1}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol2]" placeholder="sCol2" value="{{ obj.sCol2}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol3]" placeholder="sCol3" value="{{ obj.sCol3}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol4]" placeholder="sCol4" value="{{ obj.sCol4}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol5]" placeholder="sCol5" value="{{ obj.sCol5}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol6]" placeholder="sCol6" value="{{ obj.sCol6}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol7]" placeholder="sCol7" value="{{ obj.sCol7}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol8]" placeholder="sCol8" value="{{ obj.sCol8}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol9]" placeholder="sCol9" value="{{ obj.sCol9}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="adminMember[sCol10]" placeholder="sCol10" value="{{ obj.sCol10}}" />
                        </div>
                </div>
            </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">DateTime</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>
                                <input type="radio" name="adminMember[HideYN]" class="minimal" value="Y"
                                    {{#isYes obj.HideYN}} {{/isYes}}
                                > Hide Yes
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" name="adminMember[HideYN]" class="minimal" value="N"
                                    {{#isNo obj.HideYN}} {{/isNo}}
                                > Hide No
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="radio" name="adminMember[DeleteYN]" class="minimal" value="Y"
                                    {{#isYes obj.DeleteYN}} {{/isYes}}
                                > Delete  Yes
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" name="adminMember[DeleteYN]" class="minimal" value="N"
                                    {{#isNo obj.DeleteYN}} {{/isNo}}
                                > Delete No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "adminMember"}}}'">
                        Cancel
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
