{{#extend 'styles'}}
    <style>
        .error {
            color: red;
        }
        .success {
            color:green;
        }
    </style>
{{/extend}}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List GameEventMember
        <small>All GameEventMember listed</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            {{#if message}}
                {{{message}}}
            {{/if}}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All game event member</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="table-search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>GameEventMemberID</th>
                            <th>EventID</th>
                            <th>MemberID</th>
                            <th>CreatedAt</th>
                        </tr>
                        {{#each listObjs }}
                            <tr>
                                <td>
                                    <a href="/gameEventMember/{{this.GameEventMemberID}}">
                                        {{this.GameEventMemberID}}
                                    </a>
                                </td>
                                <td>
                                    {{this.eventID}}
                                </td>
                                <td><a href="/member/{{this.MemberID  }}"> {{this.MemberID}}
                                </a>
                                </td>
                                <td>{{formatTimeDate this.createdAt}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {{{ pagination page count }}}
                    </ul>
                    <button type="button" class="btn btn-primary" onclick="location.href = '{{{url "gameEventMember.create"}}}'">Create Game Event Member</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
