<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Delete Member Game Info
        <small>Create a Member Game Info</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{{url 'home'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{{url 'memberGameInfoStage'}}}">List</a></li>
        <li class="active">Delete Member Game Info</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Input addon -->
            <!-- form -->
            <form action="{{{url 'memberGameInfoStage.update'}}}" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Member Game Info</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[MemberGameInfoStageID]" value="{{ obj.MemberGameInfoStageID}}" placeholder="MemberGameInfoStageID" readonly/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[MemberID]" value="{{ obj.MemberID}}" placeholder="MemberID" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageName]" value="{{ obj.StageName}}" placeholder="StageName" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStatus]" value="{{ obj.StageStatus}}" placeholder="StageStatus" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Points]" value="{{ obj.Points}}" placeholder="Points" required/>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Category</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Category1]" value="{{ obj.Category1}}" placeholder="Category1" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Category2]" value="{{ obj.Category2}}" placeholder="Category2" required/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Category3]" value="{{ obj.Category3}}" placeholder="Category3" required/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Stage Stat</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStat1]" value="{{ obj.StageStat1}}" placeholder="StageStat1"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStat2]" value="{{ obj.StageStat2}}" placeholder="StageStat2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStat3]" value="{{ obj.StageStat3}}" placeholder="StageStat3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStat4]" value="{{ obj.StageStat4}}" placeholder="StageStat4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[StageStat5]" value="{{ obj.StageStat5}}" placeholder="StageStat5"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Mission</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Mission1]" value="{{ obj.Mission1}}" placeholder="Mission1"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Mission2]" value="{{ obj.Mission2}}" placeholder="Mission2"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Mission3]" value="{{ obj.Mission3}}" placeholder="Mission3"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Mission4]" value="{{ obj.Mission4}}" placeholder="Mission4"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="memberGameInfoStage[Mission5]" value="{{ obj.Mission5}}" placeholder="Mission5"/>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Extra Data</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol1]" placeholder="sCol1">{{ obj.sCol1}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol2]" placeholder="sCol2">{{ obj.sCol2}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol3]" placeholder="sCol3">{{ obj.sCol3}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol4]" placeholder="sCol4">{{ obj.sCol4}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol5]" placeholder="sCol5">{{ obj.sCol5}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol6]" placeholder="sCol6">{{ obj.sCol6}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol7]" placeholder="sCol7">{{ obj.sCol7}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol8]" placeholder="sCol8">{{ obj.sCol8}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol9]" placeholder="sCol9">{{ obj.sCol9}}</textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <textarea class="form-control" name="memberGameInfoStage[sCol10]" placeholder="sCol10">{{ obj.sCol10}}</textarea>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Access</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="radio" name="memberGameInfoStage[HideYN]" class="minimal" value="Y"
                                {{#isYes obj.HideYN}} {{/isYes}}
                            > Hide Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="memberGameInfoStage[HideYN]" class="minimal" value="N"
                                {{#isNo obj.HideYN}} {{/isNo}}
                            > Hide No
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="radio" name="memberGameInfoStage[DeleteYN]" class="minimal" value="Y"
                                {{#isYes obj.DeleteYN}} {{/isYes}}
                            > Delete  Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="memberGameInfoStage[DeleteYN]" class="minimal" value="N"
                                {{#isNo obj.DeleteYN}} {{/isNo}}
                            > Delete No
                        </label>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '{{{url "memberGameInfoStage"}}}'">
                        Cancel
                    </button>
                    <button type="button" class="btn pull-right btn-warning" onclick="location.href = '{{url "memberGameInfoStage"  }}/delete/{{obj.MemberGameInfoStageID}}'">
                        Delete
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /form -->
            <!-- /.box -->
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</section>
<!-- /.section -->
